<section class="banner-fullwidth">

    <ul id="banner-fullwidth" class="banner owl-carousel owl-theme">
        <li style="background-image: url('{{site.baseurl}}/assets/img/banner-homepage-01.jpg')">
            <div class="wrapper">
                <h1 class="m-0 mb-30">Ofereça uma nova experiência para seus hóspedes</h1>
                <p class="m-0 light fm">Automatize o serviço de quarto com funcionalidades do nosso aplicativo.</p>

                <form name="newsletter" class="newsletter mt-20">
                    <label class="input-group full-width mtb-20">
                        <input type="text" name="email" value="" onkeyup="this.setAttribute('value', this.value);" >
                        <span>Seu e-mail principal</span>
                    </label>

                    <a class="btn" href="#">
                        Saiba antes sobre o lançamento
                        <small>E experimente gratuitamente</small>
                    </a>                    
                </form>

            </div>
        </li>
    </ul>
</section>
