<section class="banner-fullwidth">

    <ul id="banner-fullwidth" class="banner owl-carousel owl-theme">
        <li style="background-image: url('{{site.baseurl}}/assets/img/banner-homepage-01.jpg')">
            <div class="wrapper">
                <div class="text-wrapper">
                    <h1 class="m-0 mb-30 uppercase bold">
                        <span class="big">
                            <p class="mtb-0 mr-5">Ofereça uma nova</p>
                            <p class="mtb-0 mr-5">experiência para</p>
                            <p class="mtb-0 mr-5">seus hóspedes</p>
                        </span>
                    </h1>
                    <div class="big light">
                        <p class="mtb-0 mr-5">Automatize o serviço de quarto com as </p>
                        <p class="mtb-0 mr-5">funcionalidades do nosso aplicativo e</p>
                        <p class="mtb-0 mr-5">gere economia para o hotel.</p>
                    </div>
                    <a href="#" class="btn big bold mt-30">Cadastre-se para o lançamento</a>
                </div>
                <div class="image-wrapper">
                    <img src="{{site.baseurl}}/assets/img/banner-homepage-01-image.png" alt="">
                </div>

            </div>
        </li>
    </ul>
</section>
