<section class="banner-fullwidth">

    <ul id="banner-fullwidth" class="banner owl-carousel owl-theme">
        <li style="background-image: url('{{site.baseurl}}/assets/img/banner-homepage-01.jpg')">
            <div class="wrapper">
                <h1 class="m-0 mb-30">Ofereça uma nova experiência para seus hóspedes</h1>
                <p class="m-0 light fm">Automatize o serviço de quarto com funcionalidades do nosso aplicativo.</p>

                {% include newsletter-form.html %}
            </div>
        </li>
    </ul>
</section>
