---
layout: default
---
<div class="home">
    {% include homepage/banner.html %}
    <div class="wrapper">
        <h2 class="center mtb-60 lh-13">Torne seu hotel mais rentável com uma <br class="hide-small-tablet"> poderosa ferramenta de gestão de hotéis e pousadas.</h2>
    </div>

    <div class="wrapper">
        <ul class="funcionalidades-lista">
            <li>
                <img src="assets/img/homepage-icon-checkin.png" alt="">
                <p>Check-in pelo App como <br> nas companhias aéreas!</p>
            </li>
            <li>
                <img src="assets/img/homepage-icon-organizacao.png" alt="">
                <p>Organização das demandas <br> em tempo real.</p>
            </li>
            <li>
                <img src="assets/img/homepage-icon-vendas.png" alt="">
                <p>Canal de vendas diretas <br> com os hóspedes</p>
            </li>
            <li>
                <img src="assets/img/homepage-icon-relatorios.png" alt="">
                <p>Relatórios <br> de Desempenho</p>
            </li>
        </ul>
    </div>

    <div class="clearfix mb-60"></div>

    <div class="vantagens-showcase">

        <div class="vantagem">
            <div class="wrapper">
                <div class="vantagem-content">
                    <div class="text-wrap">
                        <h2 class="title mb-15">Tem um minuto?</h2>
                        <h2 class="title">Vamos falar sobre <strong class="colored">Eficiência.</strong></h2>

                        <p class="mtb-40">Controle demandas dos hóspedes em tempo real. Reduza custos operacionais. Automatize processos braçais. Gerencia tudo via smartphone.</p>

                        <div class="colunas">
                            <div class="coluna">
                                <h3 class="colored">Antecipe informações de Checkin</h3>
                                <p>O Tripco reduz filas no lobby. E isso é possível através do Check-in pelo seu app, como nas companhias aéreas.</p>
                            </div>

                            <div class="coluna">
                                <h3 class="colored">Dê um passo para o futuro</h3>
                                <p>Profissionalize a gestão da sua empresa renovando processos através da tecnologia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrap">
                        <img src="{{ 'assets/img/homepage-eficiencia.png' | prepend: site.baseurl }}" alt="">
                    </div> 
                </div>
            </div>
        </div>

        <!-- -------------------------------------- -->

        <div class="vantagem">
            <div class="wrapper">
                <div class="vantagem-content">
                    <div class="text-wrap">
                        <h2 class="title mb-20">Controle à distância</h2>
                        <h3 class="subtitle">Quer ficar em casa? Monitore tudo com o Tripco</h3>
                        <p class="mtb-40">Basta ter acesso à internet para acompanhar seu hotel em tempo real.</p>
                        <a class="btn" href="#">Experimente Antes</a>
                    </div>
                    <div class="img-wrap">
                        <img class="m-40" src="{{ 'assets/img/homepage-controleadistancia.png' | prepend: site.baseurl }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- -------------------------------------- -->

        <div class="vantagem">
            <div class="wrapper">
                <div class="vantagem-content">
                    <div class="text-wrap">
                        <h2 class="title"><strong class="colored">Impressione seus hóspedes</strong> e aumente a comodidade de suas estadias.</h2>
                        <p class="mtb-40">Faça de seu hotel uma experiência inesquecível. Invista em comididades além do padrão com o Tripco.</p>
                        <div class="colunas">
                            <div class="coluna">
                                <h3 class="colored">Pedidos da cozinha pelo aplicativo</h3>
                                <p>Solicitações de pratos podem ser muito mais rápidas se feitas em um canal direto, sem interromper o Lobby.</p>
                            </div>
                            <div class="coluna">
                                <h3 class="colored">Informações completas e acessíveis</h3>
                                <p>Ganhe tempo disponibilizando todas as informações do hotel no smartphone e reduza custos de impressão.</p>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrap">
                        <img src="{{ 'assets/img/homepage-comodidade.png' | prepend: site.baseurl }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- -------------------------------------- -->

        <div class="vantagem">
            <div class="wrapper">
                <div class="vantagem-content">
                    <div class="text-wrap">
                        <h2 class="title">Organize as demandas do Lobby</h2>
                        <h3 class="subtitle">O Tripco centraliza todas as demandas dos quartos em uma única tela.</h3>
                        <a class="btn align-right" href=#>Experimente Antes</a>
                    </div>
                    <div class="img-wrap">
                        <img src="{{ 'assets/img/homepage-demandas.png' | prepend: site.baseurl }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- -------------------------------------- -->

    </div>


    <div class="cta-newsletter ptb-40">
        <div class="wrapper center">
            <h2>Seja o primeiro a experimentar esta ferramenta em seu hotel!</h2>
            <p class="mt-40 mb-30">Nós avisaremos por e-mail sobre o lançamento da tripco.</p>
            {% include newsletter-form.html %}
        </div>
    </div>

</div>
