---
layout: default
---
<div class="home">
    {% include homepage/banner.html %}
    <div class="wrapper">
        <h2 class="center mtb-60 lh-13">Torne seu hotel mais rentável com uma <br class="hide-small-tablet"> poderosa ferramenta de gestão de hotéis e pousadas.</h2>
    </div>

    <div class="wrapper">
        <ul class="funcionalidades-lista">
            <li>
                <img src="assets/img/homepage-icon-checkin.png" alt="">
                <p>Check-in pelo App como <br> nas companhias aéreas!</p>
            </li>
            <li>
                <img src="assets/img/homepage-icon-organizacao.png" alt="">
                <p>Organização das demandas <br> em tempo real.</p>
            </li>
            <li>
                <img src="assets/img/homepage-icon-vendas.png" alt="">
                <p>Canal de vendas diretas <br> com os hóspedes</p>
            </li>
            <li>
                <img src="assets/img/homepage-icon-relatorios.png" alt="">
                <p>Relatórios <br> de Desempenho</p>
            </li>
        </ul>
    </div>

    <div class="clearfix mb-60"></div>

    <div class="vantagens-showcase">

        <div class="vantagem">
            <div class="wrapper">
                <div class="vantagem-content">
                    <div class="text-wrap">
                        <h2 class="title mb-5">Tem um minuto?</h2>
                        <h2 class="title">Vamos falar sobre <strong class="colored">Eficiência.</strong></h2>

                        <p class="mtb-40">Controle demandas dos hóspedes em tempo real. Reduza custos operacionais. Automatize processos braçais. Gerencia tudo via smartphone.</p>

                        <div class="colunas">
                            <div class="coluna">
                                <h4 class="coluna-title colored">Antecipe informações de Checkin</h4>
                                <p class="coluna-text">O Tripco reduz filas no lobby. E isso é possível através do Check-in pelo seu app, como nas companhias aéreas.</p>
                            </div>

                            <div class="coluna">
                                <h4 class="coluna-title colored">Dê um passo para o futuro</h4>
                                <p class="coluna-text">Profissionalize a gestão da sua empresa renovando processos através da tecnologia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrap">
                        <img src="{{ '/assets/img/homepage-eficiencia.png' | prepend: site.baseurl }}" alt="">
                    </div> 
                </div>
            </div>
        </div>

        <!-- -------------------------------------- -->

        <div class="vantagem">
            <div class="wrapper">
                <div class="vantagem-content">
                    <div class="text-wrap">
                        <h1 class="title mb-20">Controle à distância</h1>
                        <h2 class="subtitle">Quer ficar em casa? Monitore tudo com o Tripco</h2>
                        <p class="mtb-40">Basta ter acesso à internet para acompanhar seu hotel em tempo real.</p>
                        <a class="btn" href="#experimente">Experimente Antes</a>
                    </div>
                    <div class="img-wrap">
                        <img src="{{ '/assets/img/homepage-controleadistancia.png' | prepend: site.baseurl }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- -------------------------------------- -->

        <div class="vantagem">
            <div class="wrapper">
                <div class="vantagem-content">
                    <div class="text-wrap">
                        <h2 class="title"><strong class="colored">Impressione seus hóspedes</strong> e aumente a comodidade de suas estadias.</h2>
                        <p class="mtb-40">Faça de seu hotel uma experiência inesquecível. Invista em comididades além do padrão com o Tripco.</p>
                        <div class="colunas">
                            <div class="coluna">
                                <h3 class="coluna-title colored">Pedidos da cozinha pelo aplicativo</h3>
                                <p class="coluna-text">Solicitações de pratos podem ser muito mais rápidas se feitas em um canal direto, sem interromper o Lobby.</p>
                            </div>
                            <div class="coluna">
                                <h3 class="coluna-title colored">Informações completas e acessíveis</h3>
                                <p class="coluna-text">Ganhe tempo disponibilizando todas as informações do hotel no smartphone e reduza custos de impressão.</p>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrap">
                        <img src="{{ '/assets/img/homepage-comodidade.png' | prepend: site.baseurl }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- -------------------------------------- -->

        <div class="vantagem">
            <div class="wrapper">
                <div class="vantagem-content">
                    <div class="text-wrap">
                        <h1 class="title">Organize as demandas do Lobby</h1>
                        <h2 class="subtitle mtb-40">O Tripco centraliza todas as demandas dos quartos em uma única tela.</h2>
                        <a class="btn align-right" href=#experimente>Experimente Antes</a>
                    </div>
                    <div class="img-wrap">
                        <img src="{{ '/assets/img/homepage-demandas.png' | prepend: site.baseurl }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- -------------------------------------- -->

    </div>

    <a class="anchor" name="experimente" id="experimente"></a>
    <div class="cta-newsletter-wrapper pt-50 pb-55">
        <div class="wrapper center">
            <div class="cta-newsletter-box p-30">
                <h2 class="cta-newsletter-title">Seja o primeiro a <br> experimentar esta <br> ferramenta em seu hotel!</h2>
                <p class="cta-newsletter-subtitle mt-30 mb-20">Nós avisaremos por e-mail <br> sobre o lançamento da tripco.</p>
                {% include newsletter-form.html %}                
            </div>
        </div>
    </div>

    <div class="mtb-60">
        <div class="wrapper">
            <h3 class="mtb-60 center">Últimas do setor de hotelaria</h3>
            <div class="medium-loading center">
                {% include img/svg-loading.html size="50px" fill="#000" %}
            </div>
            <ul class="medium-posts" id="medium-posts"></ul>
        </div>
    </div>

    <a class="anchor" name="duvidas" id="duvidas"></a>
    <div class="faq-wrapper mb-60">
        <div class="wrapper">
            <h1 class="faq-title mb-15">Dúvidas Rápidas</h1>
            <div id="accordion">
                <h3>O que é o Tripco?</h3>
                <div>
                    <p>É um programa que ajuda a aperfeiçoar os processos de um Hotel, atuando como ferramenta essencial para o dia a dia do Lobby. Em paralelo, o Tripco melhora também a experiência do hóspede, pois funciona como um canal de comunicação entre ele e o Lobby.</p>
                </div>
                <h3>O que eu ganho com o Tripco?</h3>
                <div>
                    <div>
                        <h4 class="italic bold mb-10">Reduz Custos</h4>
                        <p>Sua equipe vai trabalhar de forma mais eficiente, sem perder tempo em tarefas repetitivas e demoradas. O Tripco coleta informações de solicitações de hóspedese organiza tudo na tela do computador.</p>

                        <h4 class="italic bold mt-25 mb-10">Aumenta a Receita</h4>
                        <p>Com o Tripco também funciona como uma vitrine virtual. Tudo que o hotel pode vender fica disponível no celular do hóspede, amplicando as vendas de produtos e serviços que antes não eram conhecidos pelos hóspedes.</p>

                        <h4 class="italic bold mt-25 mb-10">Gera dados valiosos</h4>
                        <p>Com as informações colhidas pelo sistema, você terá a chance de saber sobre comportamento de uso e compra dos hóspedes, o que mais vende e o que menos vende, os principais problemas gerados, os itens mais solicitados pelos quartos e outras estatísticas fundamentais para uma gestão inteligente.</p>

                        <h4 class="italic bold mt-25 mb-10">Melhora a imagem do hotel</h4>
                        <p>Além de tudo que seu hotel já oferece, disponibilizar uma ferramenta própria para conforto dos hóspedes significa uma estrela a mais nas avaliações online.</p>
                    </div>
                </div>
                <h3>Como eu acesso o Tripco?</h3>
                <div>
                    <p>O Tripco funciona na internet, como o Facebook. Basta um login e uma senha.</p>
                </div>
                <h3>Meus funcionários podem usar?</h3>
                <div>
                    <p>Na verdade são eles que vão usar. O Tripco vai deixar o trabalho mais organizado e rápido, e gerar relatórios para você. É tudo muito muito simples, mas nós disponibilizamos um guia para ninguém se perder.</p>
                </div>
                <h3>O Tripco substitui meu sistema atual?</h3>
                <div>
                    <p>No caso de pequenos hotéis e pousadas, sim. Normalmente os sistemas de gestão de quartos disponíveis no mercado são complicados, difíceis de usar e cheios de funcionalidades inúteis. O Tripco foi pensado no que você realmente precisa.</p>
                </div>
                <h3>Quanto custa contratar?</h3>
                <div>
                    <p>Mais barato que uma conta de celular. O Tripco está com uma promoção de lançamento, não deixe de conferir!</p>
                </div>
                <h3>Preciso de treinamento para usar?</h3>
                <div>
                    <p>Não. O sistema administrativo do Tripco é simples e intuitivo e somente com as orientações gratuitas que você recebe ao assinar a ferramenta é possível entender o uso e tirar o máximo de proveito de tudo que o ele oferece.</p>
                </div>
                <h3>Há suporte técnico?</h3>
                <div>
                    <p>Sim, com o plano de assinatura, você tem assistência para qualquer problema que venha enfrentar.</p>
                </div>
                <h3>Posso usar o Tripco sem internet?</h3>
                <div>
                    <p>Não. Todos os usuários sejam hóspedes ou funcionários precisam estar com conexão à internet.</p>
                </div>
            </div>            
        </div>
    </div>

</div>

<script id="medium-template" type="text/x-handlebars-template">

    {% raw %}
    <li class="post">
        <a href="{{postLink}}">
            <h4 class="post-title">{{postTitle}}</h4>
            <p class="post-subtitle">{{postSubtitle}}</p>
            <p class="post-writer">Rafael Tavares - {{postDate}}</p>
        </a>
    </li>
    {% endraw %}

</script>