footer.site-footer {
  margin-bottom 30px
  
  background-image url(../img/footer-fill-full.png)
  background-position bottom center
  background-repeat no-repeat

  .wrapper {
    display flex
    align-items center
    flex-direction column
    padding-top 20px
    
    +below('l'){
      // flex-direction column
      // align-items center
      flex-wrap wrap
    }
    
    nav.page-map {
      > ul {
        display flex
      }
      > ul > li {
        font-size .7rem
        &:after {
          content "|"
          margin 0 5px
          text-decoration none
        }
        &:last-child:after{
          content none
        }
      }

      a {
        font-size inherit
        color black
        text-decoration none
        border-bottom 1px solid transparent
        padding-bottom 2px
        
        &:hover {
          border-bottom 1px solid black
        }
      }
    }
  }
}