<footer class="site-footer">
    <div class="wrapper">

        <nav class="page-map mtb-20">
            <ul>
                <li><a href="#">Termos e Condições</a></li>
                <li><a href="#">Política de Privacidade</a></li>
            </ul>
        </nav>

        <nav class="page-map mt-40 mb-20">
            <ul>
                <li>Rio de Janeiro, Brasil | CNPJ: 21.896.060/0001-04</li>
            </ul>
        </nav>

        <ul class="social-media-list">
            {% for social_link in site.social-links %}
            <li>
                {% include icon-social.html link=social_link.link icon=social_link.icon %}
            </li>
            {% endfor %}
        </ul> 

        <a class="site-title mtb-20" href="{{ site.baseurl }}/">
            <img src="{{site.baseurl}}/assets/img/tripco-logo-black.png" alt="Tripco">
        </a>

    </div>

</footer>

<script src="{{site.baseurl}}/assets/libs/jquery/dist/jquery.js"></script>
<script src="{{site.baseurl}}/assets/libs/jquery-ui/jquery-ui.js"></script>
<script src="{{site.baseurl}}/assets/libs/owl.carousel/dist/owl.carousel.js"></script>

<script src="{{site.baseurl}}/assets/js/main.js"></script>