<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{site.baseurl}}/assets/img/tripco-logo.png" alt="Tripco">
    </a>
    <span class="site-slogan small">quanto vale cada estrela?</span>

    <span class="flex-spacer"></span>

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>
      <div class="responsive-menu"></div>

      <div class="trigger">
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for my_page in sorted_pages %}
          {% if my_page.title %}
            <a class="page-link {% if page.url == my_page.url %}active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}

        {% if page.url == '/' %}<a class="page-link" href="#duvidas">Perguntas frequentes</a>{% endif %}
      </div>
    </nav>


  </div>

</header>
