.cta-newsletter-wrapper {
    background-image url(../img/homepage-background-cta-newsletter.jpg)
    color white
    
    p {
        color black
    }
    
    .cta-newsletter-box {
        background-color #73b2af
        box-shadow 10px 10px 0 #40ada8
        display inline-block
        margin 0 auto
        text-align left
        
        .cta-newsletter-title {
            line-height 1.3
        }
        
        .cta-newsletter-subtitle {
            font-size 1.2rem
            font-weight 100
        }
    }
}