.cta-box {
    box-shadow 7px 7px 0 #40ada8
    width 370px
    max-width 90%
    
    .cta-box-header {
        color white
        background-color #73b2af
    }
    .cta-box-body {
        color white
        background-color #6fc4c0
    }
    .cta-box-footer {
        color white
        background-color #73b2af
    }
}