.faq-wrapper {
    background-color #a28356
    background-image url(../img/faq-background.jpg)
    background-size cover
    background-position center center
    padding 40px
    
    .wrapper {
        display flex
        align-items center
        +below('m'){ flex-direction: column; }
    }
    
    .faq-title {
        font-size 3rem
        color white
        flex 40
        margin-right 80px
        +below('m'){ margin-right: 0; }
    }
    
    #accordion {
        flex 60
        +below('m'){ align-self: stretch; }
    }
    
    .ui-accordion-content {
        p {
            margin 0
        }
    }
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
    background alpha(black, .25)
    border 0
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    background alpha(black, .25)
    border 0
}

.ui-accordion .ui-accordion-header {
    font-size 1rem
    font-weight 400
    position relative
    display flex
    align-items center
    justify-content flex-start
    color white
    background-color transparent
    border-top 1px solid alpha(white, .45)
    padding 15px 0
    cursor pointer
    
    &:first-child {
        border-top 0
    }
    
    &:after {
        content none
    }
}

.ui-widget-content {
    background-color alpha(white, .2)
    border 0
    padding 20px
    color: #3E2B20;
}

.ui-corner-flat > * {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}