table.infografico {
    
    width 100%
    
    thead th {
        text-align center
    }

    thead tr th:first-child,
    tbody tr td:first-child {
        background-color alpha(black, .10)
    }
    
    tbody tr td {
        border-bottom 1px solid alpha(black, .2)
    }

    .pergunta {
        width 100%
        text-align left
        font-size 1rem
        line-height 1.2
        font-weight 400
    }
    
    .pergunta-sozinha {
        display none
        td {
            padding-top 30px
            color black + 20%
            // font-size 0
                border-bottom 0
        }
    }
    
    +below(1200px) {
        .pergunta {
            display none
        }

        .pergunta-sozinha {
            display table-row
        }
        
        .emoji {
            padding 0 15px
        }
    }
    
    td {
        padding 15px
        text-align center
    }
    
    .fundo-vermelho, .fundo-verde {
        > div {
            width 100%
            min-height 90px
            padding 10px
            display flex
            align-items center
            justify-content center
            font-size .9rem
            font-weight 400
            line-height 1.1
            color alpha(black, .8)
            border-radius 8px
        }

        width 234px
        min-width 234px
        padding 30px 0
        
        +below(890px){
            min-width initial
            width initial
            > div {
                background-color #fcc0b6
            }
        }
    }
    
    .fundo-verde {
        > div {
            background-color #d7efaa;
        }
    }
    
    .titulo {
        font-size 1.2rem
        font-weight 500
        padding-top 30px
        padding-bottom 10px
        color black +30%
    }
    
    .emoji {
        padding 0 60px
        &:last-child {
            padding-right 15px
        }
        
        +below(890px){
            padding 0
            img {
                display none
            }
        }
    }

    .emoji-mobile {
        display none !important
        background-color transparent !important
        img {
            width 50px
        }
        
        +below(890px) {
            display block !important
        }
    }
    
    // ------------------------------------------------------
        
    .vs {
        +below(890px){
            img {
                margin-top 90px
            }
        }
        
        +below('mobile'){
            display none
        }
    }
    
    +below('mobile'){
        tbody tr {
            display flex
            flex-direction column
            
            td {
                border-bottom 0 !important
            }
        }
        thead {
            display none
        }
        .fundo-vermelho {
            display flex
            padding-bottom 0
            div {
                flex 1
            }
            .emoji-mobile {
                flex 0
            }
        }
        .fundo-verde {
            display flex
            .emoji-mobile {
                order 2
                flex 0
            }
        }
        .pergunta-sozinha td {
            border-top 1px solid alpha(black, .2)
        }
    }
}