.vantagens-showcase {
    .vantagem {
        border-top 1px solid alpha(black, .4)
        overflow-x hidden // para a imagem não forçar rolagem
        
        &:last-child {
            border-bottom 1px solid alpha(black, .4)
        }
        
        .colored {
            color corPrincipal
        }
        
        .vantagem-content {
            display flex
        }
        
        .text-wrap {
            order 1
            margin-right 20px
            padding 40px 0
            flex 60

            display flex
            flex-direction column
            align-items flex-start
            justify-content center
            
            p {
                font-size 1.2rem
            }
        }
        
        .img-wrap {
            order 2
            flex 40
            position relative
            
            img {
                height 100%
                position absolute
                left 0
            }
        }
        
        &:nth-child(even){
            .text-wrap {
                order 3
                margin-right 0
                margin-left 20px
            }
            
            .img-wrap {
                img {
                    left initial
                    right 0
                }
            }
            
        }
    }
}

.colunas {
    display flex
    justify-content space-between
    flex-wrap wrap
    
    +below('mobile'){
        flex-direction column
    }

    .coluna {
        flex 1 0 140px
        margin-right 15px
        
        p {
            font-size 1rem
        }
        
        &:last-child {
            margin-right 0
        }
    }
}


.row-homepage {
    
    .row-content {
        display flex
    }

    .text-wrap {
        border red
    }

    .img-wrap {
        width 40%
        flex 40
        display flex
        justify-content flex-start
        align-items center
    }
    
    &:nth-child(even){
        .text-wrap {
            order 1
        }
        
        .img-wrap {
            justify-content flex-end
        }
    }
    &.border-bottom {
        border-bottom 1px solid alpha(black, .4)
    }
    
    +below('mobile'){
        &:nth-child(even) {
            background-color alpha(black, .05)
        }
        .img-wrap {
            display none
        }
        .text-wrap {
            width 100%
        }
    }
}