.social-media-list {
  display flex
  
  li {
    margin 5px
    
    &:last-child {
      margin-right 0
    }

    a {
      font-size 12px
      color #4c4c4c
      display flex
      align-items center
      
      span {
        margin-left 10px
      }
      
      &:hover {
        color alpha(#4c4c4c, .7)
        transition 200ms
      }
    }
  }
  
}