flex-version = flex
support-for-ie = true
vendor-prefixes = official

@import 'nib'
@import 'rupture'
@import 'jeet'

rupture.scale =        0        400px       600px       800px       1050px     1800px
//                     └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────
// Slice numbers:           1           2           3           4           5           6
rupture.scale-names =      'xs'        's'         'm'         'l'         'xl'        'hd'

global-reset()

azulUsabit = #1a9ded
verdeTripco = #a3bd31

corPrincipal = verdeTripco

@import "_definitions/*";
@import "_partials/*";
@import "elements/*";
// @import "pages/*";

@-ms-viewport{
  width: device-width;
}

.wrapper {
  width 90%
  max-width 1150px
  margin 0 auto
}
