a {
  font-size 1.125rem
  color #1a9ded
  text-decoration none
  display inline-block
}

a.contato {
  font-weight 300
  font-size 1.125rem
  padding-left 40px
  position relative

  &:before {
    font-family FontAwesome
    content "\f003"
    position absolute
    left 0
    top 50%
    transform translateY(-50%)
    border 1px solid red
    border-radius 50%
    padding 6px
  }

  &.black {
    color black
    &:hover {
      transation 200ms
      opacity .8
    }
    &:before {
      border-color alpha(black, .9)
    }
  }
}

.btn {
  text-decoration none
  padding 15px 18px
  display inline-flex
  align-self flex-start
  color white
  background-color verdeTripco
  font-size 1.2rem
  font-weight 500
  border 2px solid verdeTripco - 25%
  cursor pointer
  
  flex-direction row
  align-items center
  justify-content center

  small {
    font-size .75em
    font-weight 300
    margin-top 5px
  }
  
  &:hover {
    background-color verdeTripco - 30%
    transition 200ms
  }
  
  svg {
    display none
    margin-left 10px
  }
  
  &.sending {
    pointer-events none
    svg {
      display block
    }
  }

}